* {
    font-family: 'Londrina Shadow', cursive;
    font-style: italic;
}

h2 {
    text-align: center;
}
div {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    div {
        display: block;
        
    }
}